.white-bg {
    background-color: white !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.point-border {
    border-radius: 0px;
}

.success-bg {
    background-color: #d6e9c6;
}

.c {}
